<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/actividades.css">
    <title>Simon Dice</title>
</head>
<body>
    <%- include('include/_header') %> 

    <section class="Main__aseo">
        <div></div>
        <div class="aseo__container">
            <div>
                <h1 id="title"></h1>
            </div>
            <div class="act__container">
                <div class="act__img" id="img1" onclick="comprobar(0)"></div>              
                <div class="act__img" id="img2" onclick="comprobar(1)"></div>
                <div class="act__img" id="img3" onclick="comprobar(2)"></div>
                <div class="act__img" id="img4" onclick="comprobar(3)"></div>
                <div class="act__img" id="img5" onclick="comprobar(4)"></div>
            </div>
        </div>
        <div></div>
        </section>

    <%- include('include/_footer') %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/actividades.js"></script>
</body>
</html>