<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cuerpohumano.css">
    <title>Cuerpo Humano</title>
</head>
<body>
    <header>
        <div class="header__grid-container">
            <img class="Logo" src="/images/logos/logo.jpg" alt="Mi espacio favorito" />
            <nav>
                <a>Salir</a>
                <a>Contáctenos</a>
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe1vI5fXLD_v7nLBfzodJw6eOpbag_0_UTul4ZMBRHNE9DEdQ/viewform?usp=sf_link">Encuesta</a>
            </nav>
        </div>
    </header>

    <section class="main">
        <div class="main__container">
            <div class="partes__izq">
                <div class="partes__container">
                    <img class="parte" src="/images/partes/cabello.jpeg" id="cabello"/>
                    <img class="parte" src="/images/partes/cabeza.jpeg" id="cabeza"/>
                    <img class="parte" src="/images/partes/oreja.jpeg" id="oreja"/>
                    <img class="parte" src="/images/partes/ojo.jpeg" id="ojo"/>
                    <img class="parte" src="/images/partes/nariz.jpeg" id="nariz"/>
                    <img class="parte" src="/images/partes/cuello.jpeg" id="cuello"/>
                    <img class="parte" src="/images/partes/boca.jpeg" id="boca"/>
                    <img class="parte" src="/images/partes/brazo.png" id="brazo"/>
                    <img class="parte" src="/images/partes/mano.jpeg" id="mano"/>
                    <img class="parte" src="/images/partes/piernas.jpeg" id="pierna"/>
                    <img class="parte" src="/images/partes/pie.jpeg" id="pie"/>
                </div>
            </div>
            <div class="partes__cen" id="fondo__parte">
                <div></div>
                <div class="r1">
                    <div></div>
                    <div onmouseover="seleccionar('cabello')" onmouseout="esconder('cabello')"></div>
                    <div></div>
                </div>
                <div class="r2">
                    <div></div>
                    <div onmouseover="seleccionar('cabello')" onmouseout="esconder('cabello')"></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div onmouseover="seleccionar('cabello')" onmouseout="esconder('cabello')"></div>
                    <div></div>
                </div>
                <div class="r3">
                    <div></div>
                    <div onmouseover="seleccionar('oreja')" onmouseout="esconder('oreja')"></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div onmouseover="seleccionar('ojo')" onmouseout="esconder('ojo')"></div>
                    <div onmouseover="seleccionar('nariz')" onmouseout="esconder('nariz')"></div>
                    <div onmouseover="seleccionar('ojo')" onmouseout="esconder('ojo')"></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div onmouseover="seleccionar('oreja')" onmouseout="esconder('oreja')"></div>
                    <div></div>
                </div>
                <div class="r4">
                    <div></div>
                    <div onmouseover="seleccionar('oreja')" onmouseout="esconder('oreja')"></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div onmouseover="seleccionar('nariz')" onmouseout="esconder('nariz')"></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div onmouseover="seleccionar('oreja')" onmouseout="esconder('oreja')"></div>
                    <div></div>
                </div>
                <div class="r5">
                    <div></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div onmouseover="seleccionar('boca')" onmouseout="esconder('boca')"></div>
                    <div onmouseover="seleccionar('cabeza')" onmouseout="esconder('cabeza')"></div>
                    <div></div>
                </div>
                <div class="r6">
                        <div></div>
                        <div onmouseover="seleccionar('mano')" onmouseout="esconder('mano')"></div>
                        <div></div>
                        <div onmouseover="seleccionar('cuello')" onmouseout="esconder('cuello')"></div>
                        <div></div>
                </div>
                <div class="r7">
                        <div></div>
                        <div onmouseover="seleccionar('mano')" onmouseout="esconder('mano')"></div>
                        <div></div>
                </div>
                <div class="r8">
                        <div></div>
                        <div onmouseover="seleccionar('brazo')" onmouseout="esconder('brazo')"></div>
                        <div></div>
                        <div onmouseover="seleccionar('brazo')" onmouseout="esconder('brazo')"></div>
                        <div></div>
                </div>
                <div class="r9">
                        <div></div>
                        <div class="r91">
                            <div onmouseover="seleccionar('brazo')" onmouseout="esconder('brazo')"></div>
                            <div onmouseover="seleccionar('mano')" onmouseout="esconder('mano')"></div>
                        </div>
                        <div></div>
                </div>
                <div></div>
                <div class="r10">
                            <div></div>
                            <div onmouseover="seleccionar('pierna')" onmouseout="esconder('pierna')"></div>
                            <div></div>
                            <div onmouseover="seleccionar('pierna')" onmouseout="esconder('pierna')"></div>
                            <div></div>
                </div>
                <div class="r11">
                            <div></div>
                            <div onmouseover="seleccionar('pie')" onmouseout="esconder('pie')"></div>
                            <div></div>
                            <div onmouseover="seleccionar('pie')" onmouseout="esconder('pie')"></div>
                            <div></div>
                </div>
                <div></div>
            </div>
            <div class="partes__der">
                <h2 id="nombre__parte">Selecciona una parte del cuerpo</h2>
            </div>
        </div>
    </section>

    <footer class="footer">
        <ul class="list">
            <a>Términos de uso</a>
            <a>Privacidad</a>
        </ul>
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/cuerpo.js"></script>
</body>
</html>