<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/juegos.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__grid-container">
            <img class="Logo" src="../assets/images/logos/logo.jpg" alt="Mi espacio favorito" />
            <nav>
                <a>Salir</a>
                <a>Contáctenos</a>
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe1vI5fXLD_v7nLBfzodJw6eOpbag_0_UTul4ZMBRHNE9DEdQ/viewform?usp=sf_link">Encuesta</a>
            </nav>
        </div>
    </header>

    <section class="carousel">
        <h1 class="carousel__title">Selecciona el juego que quieres jugar</h1>
        <div class="carousel__container">
            <div class="carousel-item">
                <img class = "carousel-item__img1" src="../assets/images/partes/niño.jpeg" alt="Cuerpo Humano" />
                <div class="carousel-item__details">
                    <a>
                        <h1 class="carousel-item__details--title"> Cuerpo Humano</h1>
                        <p class="carousel-item__details--subtitle"> Toca Para Jugar</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img class = "carousel-item__img1" src="../assets/images/logos/simon.png" alt="Simon Dice" />
                <div class="carousel-item__details">
                    <a>
                        <h1 class="carousel-item__details--title"> Simon Dice</h1>
                        <p class="carousel-item__details--subtitle"> Toca Para Jugar</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img class= "carousel-item__img1" src="../assets/images/logos/memoria.png" alt="Memoria" />
                <div class="carousel-item__details">
                    <a>
                        <h1 class="carousel-item__details--title"> Memoria</h1>
                        <p class="carousel-item__details--subtitle"> Toca Para Jugar</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img1" src="../assets/images/actividades/conversando.png" alt="Actividades" />
                <div class="carousel-item__details">
                    <a>
                        <h1 class="carousel-item__details--title"> Actividades</h1>
                        <p class="carousel-item__details--subtitle"> Toca Para Jugar</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img1" src="../assets/images/actividades/descansar.png" alt="Relajación" />
                <div class="carousel-item__details">
                    <a>
                        <h1 className="carousel-item__details--title"> Relajación</h1>
                        <p className="carousel-item__details--subtitle"> Toca Para Jugar</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <ul class="list">
            <a>Términos de uso</a>
            <a>Privacidad</a>
        </ul>
    </footer>
</body>
</html>