<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/memoria.css">
    <title>Simon Dice</title>
</head>
<body>
    <header>
        <div class="header__grid-container">
            <img class="Logo" src="../assets/images/logos/logo.jpg" alt="Mi espacio favorito" />
            <nav>
                <a>Salir</a>
                <a>Contáctenos</a>
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe1vI5fXLD_v7nLBfzodJw6eOpbag_0_UTul4ZMBRHNE9DEdQ/viewform?usp=sf_link">Encuesta</a>
            </nav>
        </div>
    </header>

    <section class="Main__memoria">
        <div></div>
        <div class="memoria__container">
            <div class="memoria__img" id="img1" onclick="girar(0)"></div>
            <div class="memoria__img" id="img2" onclick="girar(1)"></div>
            <div class="memoria__img" id="img3" onclick="girar(2)"></div>
            <div class="memoria__img" id="img4" onclick="girar(3)"></div>
            <div class="memoria__img" id="img5" onclick="girar(4)"></div>
            <div class="memoria__img" id="img6" onclick="girar(5)"></div>
            <div class="memoria__img" id="img7" onclick="girar(6)"></div>
            <div class="memoria__img" id="img8" onclick="girar(7)"></div>
            <div class="memoria__img" id="img9" onclick="girar(8)"></div>
            <div class="memoria__img" id="img10" onclick="girar(9)"></div>
            <div class="memoria__img" id="img11" onclick="girar(10)"></div>
            <div class="memoria__img" id="img12" onclick="girar(11)"></div>
        </div>
        <div></div>
    </section>

    <footer class="footer">
        <ul class="list">
            <a>Términos de uso</a>
            <a>Privacidad</a>
        </ul>
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../assets/js/memoria.js"></script>
</body>
</html>