<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/memoria.css">
    <title>Memoria</title>
</head>
<body>
    <%- include('include/_header') %> 

    <section class="Main__memoria">
        <div></div>
        <div class="memoria__container">
            <div class="memoria__img" id="img1" onclick="girar(0)"></div>
            <div class="memoria__img" id="img2" onclick="girar(1)"></div>
            <div class="memoria__img" id="img3" onclick="girar(2)"></div>
            <div class="memoria__img" id="img4" onclick="girar(3)"></div>
            <div class="memoria__img" id="img5" onclick="girar(4)"></div>
            <div class="memoria__img" id="img6" onclick="girar(5)"></div>
            <div class="memoria__img" id="img7" onclick="girar(6)"></div>
            <div class="memoria__img" id="img8" onclick="girar(7)"></div>
            <div class="memoria__img" id="img9" onclick="girar(8)"></div>
            <div class="memoria__img" id="img10" onclick="girar(9)"></div>
            <div class="memoria__img" id="img11" onclick="girar(10)"></div>
            <div class="memoria__img" id="img12" onclick="girar(11)"></div>
        </div>
        <div></div>
    </section>

    <%- include('include/_footer') %>
    <script src="/js/memoria.js"></script>
</body>
</html>