<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/relajacion.css">
    <title>Relajación</title>
</head>
<body>
    <%- include('include/_header') %> 

    <section class = "Main__relajacion">
        <div>
                <iframe width="580" height="330" src="https://www.youtube.com/embed/xBduECt63_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div></div>
        <div>
                <iframe width="580" height="330" src="https://www.youtube.com/embed/BTFo1lFaOxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <%- include('include/_footer') %> 
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/relajacion.js"></script>
</body>
</html>