<header>
    <div class="header__grid-container">
        <img class="Logo" src="/images/logos/logo.jpg" alt="Mi espacio favorito" />
        <nav>
            <a>Salir</a>
            <a>Contáctenos</a>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe1vI5fXLD_v7nLBfzodJw6eOpbag_0_UTul4ZMBRHNE9DEdQ/viewform?usp=sf_link">Encuesta</a>
        </nav>
    </div>
</header>