@import url(juegos.css);

.inicio__header{
    height: 100px;
    background-image: url("../images/logos/headerima.jpg");
    background-size: cover;
}

.main__inicio{
    background-image: url("../images/logos/inicio.jpg");
    background-size: cover;
    width: 1366px;
    min-height: 420px;
    position: relative;
}

.inicio__button{
    border-color: transparent;
    border-radius: 40px;
    height: 52px;
    width: 150px;
    margin-top: 22%;
    margin-left: 45%;
    color: white;
    background-color: orangered;
    font-size: 16px;
}

.inicio__button:hover{
    background-color: yellow;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease
}

footer{
    min-height: 92px;
}

